@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Prata&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');

/**
 * Base Elements
 */

 :root {
   --clark: #2B6CDE !important;
 }


* {
  margin: 0;
  padding: 0;
}

body {
  padding-bottom: 100px;
}

body,
p,
div,
span {
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
a, 
em {
  font-family: 'Prata', 'Times New Roman', Times, serif;
  line-height: 1.5;
}

.clark-logo {
  height: 2.5em;
  fill: var(--clark);
  margin: .7em 0;
}

.bg-clark {
  background-color: var(--clark) !important;
}

.text-clark {
  color: var(--clark) !important;
}

.btn-clark {
  color: white;
  background-color: var(--clark) !important;
}

.footer .btn {
  min-width: 7em;
}

.arrow-right,
.arrow-left {
  fill: white;
  height: .7em;
}

.arrow-right {
  margin-left: .2em;
}

.arrow-left {
  transform: rotate(180deg);
  margin-right: .2em;
}