<section class="row">
    {{#if this.questions.length}}

    <h2 class="text-clark">
        {{@questionnaire.name}}
        &nbsp;
        <small class="text-muted">Frage {{this.count}} von {{this.questions.length}}</small>
    </h2>

    <p>{{@questionnaire.description}}</p>

    <AnimatedContainer class="w-100">
        {{#animated-value this.question use=@transition duration=200 as |question|}}
        <Question::Question @question={{question}} @setValue={{this.setValue}} />
        {{/animated-value}}
    </AnimatedContainer>

    <footer class="footer container fixed-bottom py-3 bg-white">
        <section class="row d-flex justify-content-between">
            <Button id="vorig" @onClick={{this.previousQuestion}} @key='ArrowLeft' @disabled={{this.first}}>
                <Arrow class="arrow-left" />
                Vorig
            </Button>

            <Button id="nachste" @onClick={{this.nextQuestion}} @key='ArrowRight' @disabled={{this.stop}}>
                Nächste
                <Arrow class="arrow-right" />
            </Button>
        </section>
    </footer>
    {{/if}}
</section>