<section id={{@question.identifier}} class="question bg-clark text-white p-5 w-100 rounded">

    <h3 class="h5">{{@question.headline}}</h3>

    {{#if @question.description}}
    <p>{{@question.description}}</p>
    {{/if}}


    {{#if this.multipleChoice}}
    <Select class="custom-select" id={{@question.identifier}} required={{@question.required}} multiple={{this.multiple}}
        {{on "change" @setValue}} @choices={{@question.choices}} />
    {{else}}

    {{#if this.multiline}}
    <Textarea class="form-control" id={{@question.identifier}} {{on "change" @setValue}} @value={{@question.value}}
        cols="80" rows="6" />
    {{else}}
    <Input type="text" class="form-control" id={{@question.identifier}} {{on "change" @setValue}} @value={{@question.value}} />
    {{/if}}
    
    {{/if}}
</section>